# PostgreSQL Configuration
POSTGRES_DB=DATABASE_NAME
POSTGRES_USER=DATABASE_USER
POSTGRES_PASSWORD=DATABASE_PASSWORD

# Back-End Configuration
MAX_AVATAR_SIZE_MB=SIZE_IN_MB

# Front-End Configuration
VITE_GEOAPI_BASE_URL=BASE_URL
VITE_GEOAPI_KEY=API_KEY
VITE_API_BASE_URL=API_BASE_URL
VITE_WS_URL=WS_URL
VITE_MAX_AVATAR_SIZE_MB=SIZE_IN_MB
