{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 120, 
  "bracketSpacing": true,
  "arrowParens": "always", 
  "jsxSingleQuote": false, 
  "bracketSameLine": false, 
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss", "@ianvs/prettier-plugin-sort-imports"]
}
